
h1 {
  color: black;
  text-align: center;
}

#tempToConvert{
  display: block;
  text-align: center;
}

#radio-button{
  color: black;
  text-align: center;
}

#submit{
  text-align: center;
}

#clear{
  text-align: center;
}

#text-appear{
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}